*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffffff;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #212121;
}

.container{
  position: relative;

}

.outer-ring{
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-ring span{
  position: absolute;
  inset: 5px;
  text-align: center;
}


.seconds-ring{
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seconds-ring span{
  position: absolute;
  inset: 5px;
  text-align: center;
}


.hours-ring{
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.13);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hours-ring span{
  position: absolute;
  inset: 5px;
  text-align: center;
}

.current-timer{
  color:aqua;
  font-size: large;
  font-weight: 500;
}


.cover-rectangle{
  position: absolute;
  width: 40px;
  height: 25px;
  background: rgba(48, 238, 255, 0.5);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index:2;
  border-radius: 5px;
}


.color{
  color:rgb(209, 209, 209)
}